.Card {
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  column-gap: 24px;
  align-items: center;
}

.Card-Info {
  display: flex;
  flex-direction: column;
}
